

                 <h1>Category title</h1>
                 <h3>Category discuss comes here</h3>

             <div class="row clearPadMar" >
                 <div class="col-md-7">
                     <h1>{{name}}</h1>
                     <hr/>
                     <p>posted by| admin</p>
                     <hr/>
                     <div class="col-md-4">
                         <img ng-src="client/sources/{{src}}" class="postImg" alt="post image" width="100%" />
                     </div>
                     <div class="col-md-6 pull-right">
                         <p>{{info}}</p>
                         <button type="button" class="btn btn-default">Read more</button>

                         <div style="padding-top: 100px">
                         <button type="button" class="btn btn-default " ng-click="name=allProducts[1]" value="1">1</button>
                         <button type="button" class="btn btn-default " ng-click="name=allProducts[2]" value="2">2</button>
                         <button type="button" class="btn btn-default " ng-click="indexT=3" value="3">3</button>
                          <button type="button" class="btn btn-default " ng-click="indexT=4" value="4">4</button>
                          <button type="button" class="btn btn-default" ng-click="indexT=5" value="5">5</button>
                             <button type="button" class="btn btn-default" ng-click="indexT=6" value="6">6</button>
                         </div>
                     </div>

                 </div>
                 <div class="col-md-4 col-md-offset-1">
                     <h4>From the blog </h4>

                         <ul class="leftNav" >
                             <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                             <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                             <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                             <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                         </ul>
                     <h4>Archives </h4>

                     <ul class="leftNav" >
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                     </ul>

                     <h4>Recent posts</h4>

                     <ul class="leftNav" >
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                     </ul>

                 </div>
             </div>

