

                 <h1>Category title</h1>
                 <h3>Category discuss comes here</h3>

             <div class="row clearPadMar">
                 <div class="col-md-7">
                     <h1>Post title goes here</h1>
                     <hr/>
                     <p>posted by| tito| date</p>
                     <hr/>
                     <div class="col-md-4">
                         <img src="client/sources/post.jpg" class="postImg" alt="post image" width="100%" />
                     </div>
                     <div class="col-md-6 pull-right">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet aliquam lacus. Mauris luctus tincidunt eros, in viverra arcu rhoncus molestie. Integer semper quis lorem eu pellentesque. Nulla eget pulvinar neque. Suspendisse iaculis lectus purus,
                             sed tincidunt massa vehicula eget. Nunc dignissim pulvinar erat, at fermentum neque auctor sollicitudin. Proin sit amet lorem et massa sag</p>
                         <button type="button" class="btn btn-default">Read more</button>

                        
                     </div>
					 
					 <div>
					 <div class="row">
					<div class="col-md-12"> <h3 style="float:left">{{comments.length}} comments</h3></div>
					 </div>
					 <div class="row">
					
							<div class="col-md-3">
								<img src="client/sources/post.jpg" class="postImg" alt="post image" width="100%" />
							</div>
							<div class="col-md-8">
								<h4>Nick someone</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet aliquam lacus. Mauris luctus tincidunt eros, in viverra arcu rhoncus molestie. Integer semper quis lorem eu pellentesque. Nulla eget pulvinar neque. Suspendisse iaculis lectus purus,</p>
								<button class="btn btn-default moreT"><b>Read more</b></button>
								
							</div>
					 </div>
                     <div class="row" ng-repeat="com in comments"  >
					         <div class="col-md-2 col-md-offset-1" >
                                <img ng-src="client/sources/{{com.src}}" class="postImg" alt="post image" width="100%" />
                            </div>
					        <div class="col-md-8"  >
					    	<h4>{{com.name}}</h4>
					    	<p>{{com.info}}</p>
					    	<button class="btn btn-default moreT"><b>Read more</b></button>

					        </div>
                    </div>
					 
					 </div>
					 <div class="row">
					  <div class="col-md-12">
						<div class="row marginTop "> <h3 style="float:left">Leave a reply</h3></div>
                          <form ng-submit="createPost()">
						    <div class="row marginTop"> <input style="width:100%" type="text" placeholder="name" ng-model="commentUser"></div>
						     <div class="row marginTop"><input style="width:100%"  type="text" placeholder="email" ng-model="commentEmail"></div>
						     <div class="row marginTop"><textarea style="width:100%"  placeholder="message" ng-model="comInfo"></textarea></div>
						     <button type="submit" class="btn btn-default moreT"><b>Submit</b></button>
                          </form>
					  </div>
					 </div>
					 

                 </div>
                 <div class="col-md-4 col-md-offset-1">
                     <h4>From the blog </h4>

                         <ul class="leftNav" >
                             <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                             <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                             <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                             <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                         </ul>
                     <h4>Archives </h4>

                     <ul class="leftNav" >
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                     </ul>

                     <h4>Recent posts</h4>

                     <ul class="leftNav" >
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                         <li>Lorem ipsum dolor sit Lorem ipsum dolor sit</li>
                     </ul>

                 </div>
             </div>

