

        <div class="row clearPadMar" >
            <h1 class="cent">This is the home of the honey</h1>
            <p class="cent">Here you can login or register as new user<br/>
            </p>
        </div>
        <hr/>
        <div class="row clearPadMar">
            <form role="form" ng-submit="registerUser()" class="marginTop">
                <div class="form-group">
                    <input style="width:30%; margin-left:30%;" type="text" name="user" class="form-control" ng-model="regName" id="usr" placeholder="regUserName" required>
                </div>
                <div class="form-group">
                    <input style="width:30%; margin-left:30%;" type="password" name="pass" class="form-control" ng-model="regPass" id="pwd" placeholder="regPassword" required>
                </div>
                <div class="form-group">
                    <input type="email" style="width:30%; margin-left:30%;" name="mail" class="form-control" id="mail" ng-model="regEmail" placeholder="regEmail" required>
                </div>



                <div class="row marginTop marginBottom">
                    <div class=" col-md-1 col-md-offset-5"><button type="submit" class="btn btn-warning " id="log">Register &nbsp &nbsp <i class="fa fa-key"></i></button></div>
                </div>

            </form>
        </div>





